* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);

  /* Neutral */
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
html {
  background-color: white;
}

body {
  font-family: "League Spartan", sans-serif;
  height: 100dvh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 7.2rem 10.3rem 6.25rem 10.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr 1.7fr;
  grid-template-areas:
    "header ratings"
    "statements statements";
  background-image: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
}

header {
  grid-area: header;
  color: var(--Very-Dark-Magenta);
}
header > h1 {
  font-size: 2.5rem;
  padding-right: 15rem;
}
header > p {
  font-size: 1rem;
  padding: 1.5rem 9rem 0 0;
  line-height: 1.5rem;
  color: var(--Dark-Grayish-Magenta);
}

.ratings-container {
  grid-area: ratings;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
}
.rating {
  width: 28rem;
  background-color: var(--Light-Grayish-Magenta);
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}
.images {
  padding: 0 2rem 0 1rem;
}
.rating > p {
  font-weight: 700;
  color: var(--Very-Dark-Magenta);
}

.rating:nth-child(2) {
  align-self: center;
}
.rating:nth-child(3) {
  align-self: end;
}

.statements-container {
  grid-area: statements;
  margin-top: 4.6875rem;
  display: flex;
  justify-content: space-between;
}
.statement {
  width: 21.975rem;
  height: 14.625rem;
  padding: 2.5rem 2rem;
  background-color: var(--Very-Dark-Magenta);
  color: var(--Light-Grayish-Magenta);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.statement:nth-child(2) {
  align-self: center;
}
.statement:nth-child(3) {
  align-self: end;
}
.author-profile {
  display: flex;
  align-items: center;
}
.photo {
  width: 2.5rem;
  border-radius: 50%;
}
.about-author {
  padding-left: 1.375rem;
}
.about-author > p {
  color: var(--Soft-Pink);
  padding-top: 0.3rem;
}

.quote {
  line-height: 1.5rem;
  color: var(--Light-Grayish-Magenta);
}
footer {
  margin-top: 1rem;
}

/*--------------------Media-Query---------------------------------------*/

@media (max-width: 375px) {
  body {
    width: 375px;
  }
  main {
    padding: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header"
      "ratings"
      "statements";
  }
  header {
    margin-top: 4rem;
  }
  header > h1 {
    padding-right: 0;
    text-align: center;
  }
  header > p {
    font-size: 1.1rem;
    padding: 1.5rem 0 0 0;
    line-height: 1.5rem;
    text-align: center;
  }
  .ratings-container {
    display: flex;
    margin: 2rem 0 2rem 0;
  }
  .rating {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .rating:nth-child(1) {
    align-self: center;
  }
  .rating:nth-child(3) {
    align-self: center;
  }
  .rating > p {
    margin-top: 0.6rem;
  }
  .statements-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1rem;
  }
  .statement {
    width: 100%;
    height: auto;
  }
  .statement:nth-child(1) {
    align-self: center;
  }
  .statement:nth-child(3) {
    align-self: center;
  }
  .quote {
    margin-top: 1.5rem;
    font-size: 17px;
  }
}
